/* accordion */

.accordion {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accordion__item {
    border: 1px solid #e5e5e5;

}

.accordion__item.active .accordion__content {
    display: block;
}

.accordion__item.active .accordion_header {
    border-bottom-color: #e5e5e5;
}

.accordion__item.active .accordion_header:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
}

.accordion_header {
    border-bottom: 1px solid transparent;
    padding: 15px 20px 15px 65px;
    position: relative;
    cursor: pointer
}

.accordion_header:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.accordion__content {
    padding: 15px 20px;
    font-size: 15px;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    display: none;
}

.accordion__title {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}