.section--design {
    background: url(/build/img/design/design-bg.jpg) center no-repeat;

    padding-bottom: 0;
}

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.iphone-img {
    position: absolute;
    left: 60%;
    bottom: -84px;
    z-index: 2;
}