/* Statistics */
.statistics {
    background-color: #95e1d3;

}

.statistics__inner {
    display: flex;
    justify-content: space-between;


}

.statistics__item {
    width: 20%;
    text-align: center;
    color: #fff;
    border-left: 1px solid #b5eae0;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statistics__item:last-child {
    border-right: 1px solid #b5eae0;
}


.statistics__number {
    font-size: 72px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.statistics__text {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}